@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
:root{
    --roman-silver: #8B92A2;
    --rich-black: #02020A;
    --roman-silver-gradient: #F4F4F6;
    --rose: #ce646a;
    --bellus: #09364b;
    font-size: 20px;
    font-weight: 600;
}
*, 
*::before,
*::after{
    margin: 0;
    padding: 0;
    font-family: 'Crimson Text', serif;
    color: var(--rich-black);
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: var(--roman-silver);
}
main{
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(images/annie-spratt-kXqTlz4Ejhw-unsplash.jpg);
    background-blend-mode: overlay;
    background-color: var(--roman-silver);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.card{
    min-height: 270px;
    max-width: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1em 1.8em;
    background: var(--roman-silver-gradient);
    opacity: .8;
    border-radius: 50%;
    text-align: center;
    -webkit-box-shadow: -7px 5px 15px 5px rgba(139,146,162,0.61); 
    box-shadow: -7px 5px 15px 5px rgba(139,146,162,0.61);
}
.card-inactive{
    display: none;
}
.card p:last-of-type{
    font-size: .6rem;
}
input[type=number]{
    border: 1px var(--rich-black) solid;
    height: 1.5rem;
    padding: .5em;
    font-size: 1rem;
    border-radius: 3px;
    max-width: 100px;
}
#commit{
    font-weight: 600;
    padding: .5em 3em;
    border: 1px var(--roman-silver) solid;
    border-radius: 11px;
    cursor: pointer;
    letter-spacing: .2em;
    -webkit-box-shadow: -7px 5px 15px 5px rgba(139,146,162,0.61); 
    box-shadow: -7px 5px 15px 5px rgba(139,146,162,0.61);
    margin-top: .5em;
}
#commit:hover{
    background: var(--bellus);
    color: var(--roman-silver-gradient);
}
:focus{
    outline: 1px var(--roman-silver-gradient) solid;
    outline-offset: 5px;
}
.board{
    display: none;
}
.board-active{
    display: inline;
    min-height: 270px;
    max-width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 1.8em;
    background: #EFEFEE;
    opacity: .8;
    border-radius: 50%;
    text-align: center;
    -webkit-box-shadow: -7px 5px 15px 5px rgba(139,146,162,0.61); 
    box-shadow: -7px 5px 15px 5px rgba(139,146,162,0.61);
}
.track{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
}
.toggle{
    height: 30px;
    -webkit-filter: invert(25%) sepia(88%) saturate(6550%) hue-rotate(349deg) brightness(97%) contrast(91%);
            filter: invert(25%) sepia(88%) saturate(6550%) hue-rotate(349deg) brightness(97%) contrast(91%);
}
.read{
    -webkit-filter: invert(13%) sepia(100%) saturate(4947%) hue-rotate(142deg) brightness(105%) contrast(76%);
            filter: invert(13%) sepia(100%) saturate(4947%) hue-rotate(142deg) brightness(105%) contrast(76%);
}
.modal-outer, .modal-outer-retake{
    display: -ms-grid;
    display: grid;
    background: hsla(223, 15%, 91%, 0.7);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* Hide modal until needed */
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.2s;
}
.modal-outer.open{
    opacity: 1;
    pointer-events: all;
}
.modal-inner, .modal-inner-retake{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 600px;
    min-width: 400px;
    min-height: 200px;
    padding: 2em;
    border-radius: 5px;
    border: 2px var(--rich-black) solid;
    background: var(--roman-silver-gradient);
    text-align: center;
}
.modal-inner h2{
    color: var(--rose);
    font-weight: 600;
}
.modal-inner h3{
    font-style: italic;
    font-size: .95rem;
    color: var(--bellus);
}
#close{
    height: 20px;
    cursor: pointer;
}
#reset{
    position: absolute;
    bottom: 40px;
    font-weight: 600;
    padding: .75em 1em;
    border: 2px var(--rich-black) solid;
    border-radius: 11px;
    cursor: pointer;
}